* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    height: 75px;
    padding-top: 18px;
}

.header-menu {
    display: flex;
    justify-content: space-between;

    height: 100%;
    margin-bottom: 20px;


}

.header-menu__left {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 111px;
    align-items: flex-end;
}

.header-menu__right {
    display: flex;
    justify-content: space-between;
    width: 168px;
    align-items: flex-end;
    list-style-type: none;
}


.nav-img {
    padding-bottom: 20px;
}

.mega-menu {
    position: relative;
    padding-bottom: 20px;
    z-index: 10;
}

.mega-menu:hover .mega-box {
    display: block;
}

.mega-box {
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding-top: 37px;
    padding-left: 34px;
    position: absolute;
    width: 232px;
    height: 764px;
    margin-top: 20px;
    display: none;
}

.mega-heading__menu {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}

.mega-heading__sub {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 12px;
}

.mega-link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    margin-bottom: 11px;
    margin-left: 20px;
}

.mega-link:hover {
    color: #F16D7F;
}


.top-content {
    height: 764px;
    background-color: #F1E4E6;
}

.top-content__container {
    display: flex;
}


.top-content__right {
    margin-top: 290px;
    margin-left: 233px;
    display: flex;
}

.rectangle {
    width: 12px;
    height: 92px;
    background: #F16D7F;
    margin-right: 16px;

}



h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.top__content-p {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.top__content-p-pink {
    color: #F16D7F;
}

.offer-women__men__kids {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 30px;
}

.offer-card {
    position: relative;
    text-align: center;
}


.offer-txt-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer-txt-p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.offer-header {

    color: #F16D7F;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

}

.fetured {
    margin-top: 96px;
    margin-bottom: 48px;
    text-align: center;
}

.fetured__h2 {
    color: #222222;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
}

.fetured__txt {
    color: #9F9F9F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    margin-bottom: 30px;
    width: 360px;
    position: relative;
}

.product-card__link {
    text-decoration: none;
    display: block;
}

.product-card-img {
    width: 100%;
}

.product-card:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.product-card:hover .product-card-img {
    filter: brightness(0.3);
}

.product-card:hover .product-card-button-box {
    display: flex;
}

.product-card-button {
    display: flex;
    align-items: center;
    padding: 10px 13px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    pointer-events: all;
}

.product-card-button-box {
    display: none;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 188px;
    pointer-events: none;
}

.product-card-button:hover {
    box-shadow: 0px 0px 10px 0px #FFFFFF;
}

.product-card-button__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 11px;
    display: inline-block;
    align-self: center;
}



.product-card__txt {
    padding: 25px 28px 20px 18px;
}

.card__txt-header {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.card__txt-p {
    margin-top: 12px;
    margin-bottom: 18px;
    color: #5D5D5D;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.card__txt-price {
    color: #F16D7F;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.product-button {
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 95px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    display: block;
}


.product-button:hover {
    background-color: #F26376;
    color: #FFFFFF;
}

.feature {
    background: #222224;
}

.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 341px;
}

.feature-block {
    width: 360px;
}

.feature__img {
    display: block;
    margin: 0 auto;
}

.feature__h {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 16px;
}

.feature__txt {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;

}

.subscribe-section {
    background-image: url(img/footer-bckgr.jpg);
    background-repeat: no-repeat;
    height: 448px;
    background-size: 100%;
}

.subscribe-figure-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 448px;
}

.subscribe-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-review {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 360px;
    margin-top: 30px;
}

.subscribe-h {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.subscribe-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.subscribe-form {
    margin-right: 100px;
}

.subscribe-input-email {
    display: flex;
}

.subscribe-input {
    height: 50px;
    width: 256px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #E1E1E1;
    border: none;
    padding-left: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.subscribe-button {
    display: block;
    text-decoration: none;
    padding: 15px 8px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 50px;
    width: 100px;
    background-color: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;

}

.subscribe-button:hover {
    color: #F16D7F;
    background-color: #FFFFFF;
    border: 1px solid #F16D7F;
}

.footer-copyright-social__networks {
    background-color: #222224;
}

.copyright-social__networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    display: inline-block;
}

.social__networks-link {
    background-color: #FFFFFF;
    padding: 8px 11px;
    text-decoration: none;
    margin-right: 7px;
}

.fa-brands {
    color: #000000;
    font-size: 15px;
}

.social__networks-link:hover {
    background-color: #F16D7F;
}

.social__networks-link:hover .fa-brands {
    color: #FFFFFF;
}

.product-card-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    height: 148px;
    align-items: center;
}

.breadcrumb-header {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.breadcrumb-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.breadcrumb-link:hover {
    color: #F16D7F;
}

.breadcrumb-last {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.breadcrumb-slash {
    color: #636363;
    font-size: 14px;
}

.slide {
    border: 1px solid #EAEAEA;
    height: 777px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7F7F7;
    position: relative;
}

.slide-img {
    margin-bottom: 42px;
}

.slide-arrow {
    height: 47px;
    width: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    display: block;
    padding: 12px 17px;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 22px;
    color: #000000;
}

.slide-arrow:hover .fa-chevron-right {
    color: #F16D7F;
}

.slide-arrow:hover .fa-chevron-left {
    color: #F16D7F;
}

.card-info {
    min-height: 600px;
    border: 1px solid #EAEAEA;
    position: relative;
    margin-top: -64px;
    background-color: #FFFFFF;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 129px;
}

.card-info-collection {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-align: center;
    margin-bottom: 12px;
    display: inline-block;
}

.card-info-rectangle {
    height: 3px;
    width: 63px;
    background-color: #EF5B70;
    margin-bottom: 12px;
}

.card-info-header {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 48px;
    display: inline-block;
}

.card-info-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    width: 555px;
    margin-bottom: 32px;
    display: inline-block;
}

.card-info-price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    text-align: center;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 65px;
    width: 641px;
    margin-bottom: 65px;
    display: inline-block;
}

.card-info-add {
    text-decoration: none;
    border: 1px solid #FF6A6A;
    padding: 14px 23px;
    padding-right: 56px;
    display: flex;
    align-items: center;
}

.card-info-add-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    margin-left: 23px;
}

.fa-cart-shopping {
    font-size: 23px;
    color: #F26376;
}

.card-info-add:hover {
    background-color: #FF6A6A;
}

.card-info-add:hover .card-info-add-txt {
    color: #FFFFFF;
}

.card-info-add:hover .fa-cart-shopping {
    color: #FFFFFF;
}

.choose {
    display: flex;
    margin-bottom: 49px;
}

.choose-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: inline-block;
    margin-right: 42px;
}